* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .bubles {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      align-items: flex-start;

      span {
        position: relative;
        min-width: 30px;
        height: 30px;
        background: white;
        box-shadow:
          0 0 0 10px rgb(92, 62, 230),
          0 0 50px purple,
          0 0 100px skyblue;
        margin: 0 4px;
        border-radius: 50%;
        animation: animate 15s linear infinite;
        animation-duration: calc(75s / var(--i));
        &:nth-child(even) {
          background: yellow;
          box-shadow:
            0 0 0 10px yellowgreen,
            0 0 50px red,
            0 0 100px magenta;
        }
      }
    }
  }
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateX(-10vh) scale(1);
  }
}
